h1 {
  font-style: italic;
  font-size: 90px;
  color: lightsteelblue;
  text-align: center;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 23.5;
  padding: 75px;
}
